<CascadingAuthenticationState>
    <CascadingAppState>
        <Router AppAssembly="@typeof(Program).Assembly">
            <Found Context="routeData">
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" >
                    <NotAuthorized>
                        <p>Not Authorized!</p>
                        <Home.Client.Pages.Logout />
                    </NotAuthorized>
                    <Authorizing>
                        <p>Loaind user information...</p>
                    </Authorizing>
                </AuthorizeRouteView>
            </Found>
            <NotFound>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p>Sorry, there's nothing at this address.</p>
                </LayoutView>
            </NotFound>
        </Router>
    </CascadingAppState>
</CascadingAuthenticationState>
