@page "/"
@using Home.Shared
@using System.Text


<h1>Hello, world!</h1>

Welcome to your new app.

<button class="btn btn-primary" @onclick="HashTest">get hash</button>
<button class="btn btn-primary" @onclick="Test">Password</button>
<button class="btn btn-primary" @onclick="TokenTest">Token</button>


<p>
    @Hash
</p>

@if(isPass)
{
    <p>IS PASS!</p>
}

@if(isExpired)
{
    <p>Token is expired</p>
}

<MyFirstComponent />
<MySecondComponent CurrentCountValue=@currentCount />

<SurveyPrompt Title="How is Blazor working for you?" />

@code {
    private int currentCount = 100;

    private string Hash { get; set; } = "hash";

    private bool isPass { get; set; } = false;

    private string dummyToken { get; set; } = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJodHRwOi8vc2NoZW1hcy54bWxzb2FwLm9yZy93cy8yMDA1LzA1L2lkZW50aXR5L2NsYWltcy9uYW1lIjoic3BlbmNlcmRvdG5ldEBnbWFpbC5jb20iLCJleHAiOjE2MDY1Mzk3MzUsImlzcyI6ImhvbWUiLCJhdWQiOiJob21lIn0.uXr_2N5molMxWTdxpb_Y1xdYuaFZruvqsbcgK92wwt8";

    private bool isExpired { get; set; } = false;

    private void HashTest()
    {
        using(var sha256 = SHA256.Create())
        {
            var hasedBytes = sha256.ComputeHash(Encoding.UTF8.GetBytes("Hello World"));

            var hash = BitConverter.ToString(hasedBytes).Replace("-", "").ToLower();

            Hash = hash;
        }
    }

    private void TokenTest()
    {
        if (PasswordHash.JwtIsExpired(dummyToken))
        {
            isExpired = true;
        }
        else
        {
            isExpired = false;
        }

    }

    private void Test()
    {
        isPass = PasswordHash.VerifyPassword("Hello World", Hash);
    }

}
