@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<MyFirstComponent />
<MySecondComponent CurrentCountValue=@currentCount />

<SurveyPrompt Title="How is Blazor working for you?" />

@code {
    private int currentCount = 100;
}
